<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @manufacturer.country %>
</p>

<p>
  <strong>Date of foundation:</strong>
  <%= @manufacturer.date_of_foundation %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
