<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul>
    <li><%= link_to "Виробники", manufacturers_path %></li>
    <li><%= link_to "Продукти", products_path %></li>
    <li><%= link_to "Продавці", distributors_path %></li>
  </ul>
    <%= yield %>
  </body>
</html>
